---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$background-color: #fff;
$text-color: #000 ;
$muted-text-color: #7a8288;
$primary-color: #000;
$border-color: #9ba1a6;
$footer-background-color: #9ba1a6;
$link-color: #7a8288;
$masthead-link-color: #7a8288;
$masthead-link-color-hover: #7a8288 ;
$navicon-link-color-hover: #7a8288;

$header-font-family           : 'Roboto', sans-serif !default;
$global-font-family           : 'Raleway', sans-serif !default;
$caption-font-family          : 'Raleway', sans-serif !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


//.page__hero--overlay{
//  height: 500px;
//}


.grid__item-member {
  margin-bottom: 2em;

  @include breakpoint($small) {
    float: left;
    width: span(5 of 10);

    &:nth-child(2n + 1) {
      clear: both;
      margin-left: 0;
    }

    &:nth-child(2n + 2) {
      clear: none;
      margin-left: gutter(of 10);
    }
  }

  @include breakpoint($medium) {
    margin-left: 0; /* override margin*/
    margin-right: 0; /* override margin*/
    width: span(3 of 12);

    &:nth-child(2n + 1) {
      clear: none;
    }

    &:nth-child(4n + 1) {
      clear: both;
    }

    &:nth-child(4n + 2) {
      clear: none;
      margin-left: gutter(1 of 12);
    }

    &:nth-child(4n + 3) {
      clear: none;
      margin-left: gutter(1 of 12);
    }

    &:nth-child(4n + 4) {
      clear: none;
      margin-left: gutter(1 of 12);
    }
  }

  .page__meta {
    margin: 0 0 4px;
    font-size: 0.6em;
  }

  .archive__item-title {
    margin-top: 0.5em;
    font-size: $type-size-5;
  }

  .archive__item-excerpt {
    display: none;

    @include breakpoint($medium) {
      display: block;
      font-size: $type-size-6;
    }
  }

  .archive__item-teaser {
    @include breakpoint($small) {
      max-height: 250px;
    }
  }
}







.archive__subtitle {
  font-size: $type-size-4;
}
.archive__item-title {
  font-size: $type-size-5;
}


html {
  /* apply a natural box layout model to all elements */
  font-size: 16px;

  @include breakpoint($medium) {
    font-size: 17px;
  }

  @include breakpoint($large) {
    font-size: 18px;
  }

  @include breakpoint($x-large) {
    font-size: 19px;
  }
}

.page{
  .page__title{
    font-size: 1.4em;
    line-height: 1.2;
  }
  .page__content {
    text-align: justify;
    line-height: 1.3;
    font-size: 1em;

    .archive__item-title {
      font-size: $type-size-5;
    }
    .archive__item-excerpt {
      font-size: $type-size-6;
      & + p {
        font-size:  $type-size-6;
      }
    }
  }
}

// Overinding _navigation
// Adding hovering effect
//.hvr-underline-from-center
.greedy-nav {
  a {
    display: block;
    margin: 0 1rem;
    padding: 0.2rem 0;
    background: $background-color;

    &:hover {
      color: $masthead-link-color-hover;
    }
  }

  &__toggle {
    padding: 0 0.5rem;
    align-self: stretch;
    border: 0;
    outline: none;
    color: #fff;
    background-color: $primary-color;
    cursor: pointer;
  }

  .visible-links {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    flex: 1;
    overflow: hidden;

    li {
      -webkit-box-flex: 0;
      flex: none;
    }

    a {
      position: relative;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      overflow: hidden;


      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 0;
        background: $light-gray;
        height: 4px;
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }

      &:hover:before,
      &:focus:before,
      &:active:before {
        -webkit-transform: translateY(0);
        transform: translateY(0);

      }
    }
  }

  .hidden-links {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 15px;
    padding: 5px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background: $background-color;
    box-shadow: 0 2px 4px 0 rgba(#000, 0.16), 0 2px 10px 0 rgba(#000, 0.12);

    &.hidden {
      display: none;
    }

    a {
      margin: 0;
      padding: 10px 20px;
      font-size: $type-size-5;

      &:hover {
        color: $masthead-link-color-hover;
        background: $navicon-link-color-hover;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: -11px;
      right: 10px;
      width: 0;
      border-style: solid;
      border-width: 0 10px 10px;
      border-color: $border-color transparent;
      display: block;
      z-index: 0;
    }

    &:after {
      content: "";
      position: absolute;
      top: -10px;
      right: 10px;
      width: 0;
      border-style: solid;
      border-width: 0 10px 10px;
      border-color: $background-color transparent;
      display: block;
      z-index: 1;
    }

    li {
      display: block;
      border-bottom: 1px solid $border-color;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

// Overinding _sidebar
// Reducing the size of the font
.sidebar{
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    font-family: $sans-serif-narrow;
  }

  p,
  li {
    font-family: $sans-serif;
    font-size: $type-size-5;
    line-height: 1.3;
  }

  .fas,
  .fab,
  .far,
  .fal {
    color: black;
  }
}


// Overinding _sidebar
// Reducing the size of the font on the icon links
// Adding hovering effect
//hvr-forward
.author__urls {
  overflow-x: hidden;
  li {
    white-space: nowrap;
    font-size:  0.9em;
    line-height: 0.8;

    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;

    &:hover,
    &:focus,
    &:active {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
  }
}

// Make smaller navigation
.masthead {
  &__inner-wrap {
    padding: 0.2em;
  }
}
